<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar-nav-parent">
  <div class="container-fluid" id="navbar-container-fuild" >
    <div>
    </div>
    <a class="navbar-brand" id="navbar-brand-image" href="#">
      <img src="./assets/content/images/logos/minafro-admin-logo.png" alt="minafro-admin-logo" id="minafro-admin-logo">
    </a>
    <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Page 2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
