<aside id="sidebar_main">
  <div class="menu_section">
      <div class="sidebar_main_header">
          <div class="sidebar_logo" style="text-align: center">
              <a href="" class="sSidebar_hide sidebar_logo_large" style="width: 100%; text-align: center; padding: 20px 0 0 0;" data-disable>
                      <img class="logo_regular" src="./assets/content/images/logo.png" alt="" width="70%"  />

              </a>
          </div>
      </div>

      <ul>
          <li  title="Tableau de bord">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                  <span class="menu_title">Tableau de bord</span>
              </a>
          </li>

          <li  title="PROPRIETAIRES">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xe7fb;</i></span>
                  <span class="menu_title">PRODUITS</span>
              </a>
          </li>

          <li  title="LOCATAIRES">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xe7fb;</i></span>
                  <span class="menu_title">COIFFURES</span>
              </a>
          </li>

          <li  title="BIENS">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                  <span class="menu_title">CLIENTS</span>
              </a>
          </li>

          <li  title="ARTICLES">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xe896;</i></span>
                  <span class="menu_title">RENDEZ-VOUS</span>
              </a>
          </li>

          <li  title="RECLAMATIONS">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xe03b;</i></span>
                  <span class="menu_title">PUBLICATIONS</span>
              </a>
          </li>

          <li  title="COMPTABILITES">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xe149;</i></span>
                  <span class="menu_title">EQUIPES</span>
              </a>
              <ul>
                  <li  title="Depot">
                      <a href="" >
                          <span class="menu_icon"><i class="material-icons">&#xe8b9;</i></span>
                          <span class="menu_title">Depot</span>
                      </a>
                  </li>
                  <li  title="Retrait">
                      <a href="">
                          <span class="menu_icon"><i class="material-icons">&#xe8b9;</i></span>
                          <span class="menu_title">Retrait</span>
                      </a>
                  </li>
              </ul>
          </li>

          <li  title="REGLEMENTS">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">local_atm</i></span>
                  <span class="menu_title">REGLEMENTS</span>
              </a>
          </li>

          <li  title="SITUATIONS">
              <a href="">
                  <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                  <span class="menu_title">SITUATIONS</span>
              </a>
          </li>

          <li title="Chats">
            <a href="#">
                <span class="menu_icon"><i class="material-icons">&#xE0B9;</i></span>
                <span class="menu_title">SITE WEB</span>
            </a>
            <ul>
                <li><a href="page_chat.html">Regular Chat</a></li>
                <li><a href="page_chat_small.html">Chatboxes</a></li>
            </ul>
          </li>
       </ul>
  </div>
</aside>
