<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <!-- Boxicons CDN Links -->
      <i class="bi bi-calendar3-week-fill"></i>
      <div class="logo_name">
        CAYLED
      </div>
      <i class="bi bi-list" id="btn"></i>
    </div>
  </div>
  <ul class="nav_list">
    <li>
      <i class="bi bi-search"></i>
      <input type="search" placeholder="Recherche ...">
      <!-- <span class="tooltip">Dashboard</span> -->
  </li>
  </ul>
  <ul class="nav_list">
    <li>
      <a href="#">
        <i class="bi bi-grid"></i>
        <span class="links_name">Tableau de bord</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-person-badge"></i>
        <span class="links_name">Utilisateurs</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-chat-left-text"></i>
        <span class="links_name">Messages</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-bar-chart-line"></i>
        <span class="links_name">Statistiques</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-folder2"></i>
        <span class="links_name">Fichers</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-cart3"></i>
        <span class="links_name">Commandes</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-save2"></i>
        <span class="links_name">Enregistrer</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bi bi-gear"></i>
        <span class="links_name">Règlages</span>
        <!-- <span class="tooltip">Dashboard</span> -->
      </a>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="./assets/content/images/smartboutique3.png" alt="">
        <div class="name_job">
          <div class="name">CAYLED</div>
          <div class="job">have to be developer</div>
        </div>
      </div>
      <i class="bi bi-box-arrow-left" id="log_out"></i>
    </div>
  </div>
</div>
<div class="home_content">
  <div class="text">MINAFRO Container</div>
</div>
